<script>
  $(document).ready(function() {
    $("input[name='approve_code']").change(function() {
      if ($('#approve_code_po').is(':checked')) {
        $('#ponum').attr('required', 'required');
      }
      else {
        $('#ponum').removeAttr('required');
      }

      if ($('#approve_code_verbal').is(':checked')) {
        $('#verbal').attr('required', 'required');
      }
      else {
        $('#verbal').removeAttr('required');
      }
    });
  });
</script>
<% if @ticket_num %>
  <figure>
    <%= image_tag "#{@image_path}", alt: "#{@image_alt}" %>
  </figure>
  <section id="details">
    <dl>
      <dt>Customer #:</dt>
      <dd><%= @cust_num %></dd>
      <dt>Customer:</dt>
      <dd><%= @cust_name %></dd>
      <dt>Repair Ticket:</dt>
      <dd><%= @ticket_num %></dd>
      <dt>Model #:</dt>
      <dd><%= @model_num %></dd>
      <dt>Serial #:</dt>
      <dd><%= @serial_num %></dd>
      <dt>Quote Total:</dt>
      <dd>$<%= @order_total %></dd>
    </dl>
  </section>
  <% unless @declined || @accepted %>
    <section id="approve" class="well well-sm">
      <h4>Approved</h4>
      <%= form_tag('/approve-repair', remote: true) do %>
        <%= hidden_field_tag "repairkey", params[:repairkey] %>
        <div class="radio">
          <% if @ponum %>
            <%= radio_button_tag :approve_code, "po", true, required: "" %>
            <label for="approve_code_po">P.O. Number</label>
            <%= text_field_tag :ponum, @ponum, maxlength: "30", placeholder: "P.O. Number" %>
          <% else %>
            <%= radio_button_tag :approve_code, "po", false, required: "" %>
            <label for="approve_code_po">P.O. Number</label>
            <%= text_field_tag :ponum, nil, maxlength: "30", placeholder: "P.O. Number" %>
          <% end %>
        </div>
        <div class="radio">
          <%= radio_button_tag :approve_code, "verbal", nil %>
          <label for="approve_code_verbal">Verbal</label>
          <%= text_field_tag :verbal, nil, maxlength: "30", placeholder: "Full Name" %>
        </div>
        <div class="radio">
          <%= radio_button_tag :approve_code, "credit_card", nil %>
          <label for="approve_code_credit_card">Credit Card</label>
          <p>We'll call to collect your credit card info.</p>
        </div>
        <%= submit_tag "Approve", class: "btn btn-success",
          data: { disable_with: "Updating..." } %>
      <% end %>
    </section>
    <section id="decline" class="well well-sm">
      <h4>Not Approved</h4>
      <%= form_tag('/decline-repair', remote: true) do %>
        <%= hidden_field_tag "repairkey", params[:repairkey] %>
        <div class="radio">
          <label>
            <%= radio_button_tag :decline_code, "quote", nil, required: "" %>
            Request quote for new equipment
          </label>
        </div>
        <div class="radio">
          <label>
            <%= radio_button_tag :decline_code, "scrap" %>
            Scrap equipment
          </label>
        </div>
        <div class="radio">
          <label>
            <%= radio_button_tag :decline_code, "return" %>
            Return unrepaired
          </label>
        </div>
        <%= submit_tag "Decline", id: "decline-btn", class: "btn btn-danger",
          data: { disable_with: "Updating..." } %>
      <% end %>
    </section>
  <% end %>
<% end %>