<!DOCTYPE html>
<html>
<head>
  <title>First Aid - DiVal Safety</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
</head>
<body>
  <div id="doc">
    <div id="page-top">
      <%= render 'layouts/navigation' %>
    </div>
    <div id="page-main">
      <div class="container">
        <%= render 'layouts/messages' %>
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
